
@{
    ViewBag.Title = "AboutUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/AboutStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="about-section">
        <h1>MUSLIM COUNCIL OF BANGAL</h1>
        <p>Technology is the key factor in uniting the world together.
                    Its high time we had a platform where we all could come together and help where its needed the most</p>
        <p></p>
    </div>
    <h3 style="color:deeppink">The Muslim Council of Bengal (Kolkata) is a da'wah, training, correctional, educational and charitable organization and preaches peace and security in the world. It is its privilege to present the correct message of Islam. He wants to serve humanity through reform and welfare activities. Establishment of mosques, schools, madrassas and schools, treatment and cure, service to the widows and the needy is an important part of his mission. The institution should be able to discharge its responsibilities well,</h3>
    <h3 style="color:blue"> مسلم کاؤنسل آف بنگلہ( کولکاتا) ایک دعوتی، تربیتی, اصلاحی,تعلیمی  اور رفاھی ادارہ ھے اور دنیا مین امن وسلامتی کی مناد ھے ،اسلام کی صحیح دعوت پیش کرنا اس کا امتیا ز ھے، اسلام کا صحیح تعارف، تعلیم وتربیت، دعوت وتبلیغ ،اصلاح اور رفاھی سرگرمیون کے ذریعہ انسانیت کی خدمت اس کا مطلوب ھے_ مساجد، مکاتب مدارس واسکول کا قیام، علاج ومعالجہ، بیوہ مسکین کی خدمت اسکے مشن کا اھم حصہ ھے_ تمام مسلمانان عالم کا فریضہ ھیکہ وہ اس رفاھی ادارے کا بھرپور تعاون کرین تاکہ ادارہ اپنی ذمہ داریوں سے بخوبی عہدہ بر آ ھوسکے،
        اللہ تعالیٰ ھماری کوششون کو قبول فرمائے آمین
</h3>
    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="~/img/new2.jpeg" height="300" width="500" alt="Jane" style="width:100%">
                <div class="container">
                    <h2>Md Abdullah Qasmi</h2>
                    <p class="title">President</p>
                    <p>Mobile No : 7044421786</p>
                    @*<p>jane@example.com</p>*@
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/img/new3.jpeg" width="500"height="300" alt="Mike" style="width:100%">
                <div class="container">
                    <h2>Dr Sadaqat Hussain Qasmi</h2>
                    <p class="title">Vice President</p>
                    @*<p>Some text that describes me lorem ipsum ipsum lorem.</p>*@
                    
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="~/img/new1.jpeg" width="500"height="300" alt="John" style="width:100%">
                <div class="container">
                    <h2>Dr Rafique Ansari</h2>
                    <p class="title">Member</p>
                    </div>
                </div>
            </div>
        </div>
    <div>
        <p>

            <h2 style="color:crimson">Contect Us</h2>

            <h3 style="color:blue"> 12/2 , KABITIRTHA SARANI , KHIDDIRPORE</h3>

            <h3 style="color:blue"> KOLKATA-700 023</h3>

            <h3 style="color:blue">Mob : 9334615061 / 7044421786</h3>

            <h3 style="color:blue">Email : muslimcouncilofbangla@gmail.com </h3>
            <h3 style="color:blue">Email : abdullahqasmi72@gmail.com</h3>
        </p>
    </div>
                    @*<p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>john@example.com</p>
                    <p><button class="button">Contact</button></p>
                </div>
            </div>
        </div>
        <p>
            Technology is the key factor in uniting the world together.
            Its high time we had a platform where we all could come together and help where its needed the most
        </p></div>
    @*<div id="myCarousel">
     Indicators 
    
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/img/Slide3.png">
             
        </div>*@
        @*<div class="item">
            <img src="~/img/EPhoto1.png" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>CONTECT US</h1>
                    <p>No matter where you are, we will find and connect you to supporters who can provide you with your essential needs.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Contect</a></p>
                </div>
            </div>
        </div>*@
        @*<div class="item">
            <img src="~/img/Slide.png" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>VOLUNTEER</h1>
                    <p>Technology is the key factor in uniting the world together. </p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Join Us</a></p>
                </div>
            </div>
        </div>*@
    
    
@*<table class="table-bordered table-striped">
        <tr>
            <th>New font</th>
            <th>old font</th>
        </tr>
        <tr>
            <td>abc</td>
            <td>asd</td>
        </tr>
    </table>*@
</body>
</html>