
@{
    ViewBag.Title = "Donet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    @*<link href="~/css/ContectUsStyle.css" rel="stylesheet" />*@
</head>
<body>
    <form method="post" action="@Url.Action("SendMail")">
        <div class="container">
            <div style="text-align:center">

                <h2>Donation</h2>

                <h2></h2>
                <p><h2>MUSLIM COUNCILE OF BANGLA</h2></p>
            </div>
            <div class="row">
                <div class="column">
                    <img src="~/img/collect.jpg" width="700" height="500" style="width:100%">
                </div>
                </div>
            <div class="row">
                <div class="column">
                    <p style="background-color:tomato">
                        <h3 style="color:crimson">NGO funding sources to help them amplify their impact towards society’s development. Being a highly efficient engine, Asian NGO focuses on supporting and ensuring the sustainability of the key actors in the development sector by providing information on nonprofit funding sources, relevant funds for ngos, securing partnerships and accommodating learning needs.</h3>
                    </p>

                    <p><h3 style="color:blue">Start collecting spare change for children in need of a family. This is an opportunity to share the importance of helping those in need with your children. You can watch the jar fill up with extra change in your home, and then donate the money you’ve collected as a family</h3>
                    </p>

                    <p><h3 style="color:darkgreen">your monthly donation will help bring more waiting children into the love of a family through Adoption Aid grants, as well as help provide life-giving medical care to orphans with acute medical and special needs at Show Hope’s Care Centers in Bangal </h3>
                    
                    </p>

                    <p><h2>Account Detais</h2></p>
                    <p>
                        <h2 style="color:crimson">MUSLIM COUNCIL OF BANGLA</h2>
                        <h3 style="color:blue">A/C No: 0081050018948</h3>
                        <h3 style="color:blue">UNITED BANK OF INDIA</h3>
                        <h3 style="color:blue">KHIDDER PUR BRANCH , KOLKATA</h3>
                        <h3 style="color:blue">IFSC CODE : UTBIOKDP119</h3>
                    </p>
                    <p>
                        <h2 style="color:crimson">Contect Us</h2>

                        <h3 style="color:blue"> 12/2 , KABITIRTHA SARANI , KHIDDIRPORE</h3>

                        <h3 style="color:blue"> KOLKATA-700 023</h3>

                        <h3 style="color:blue">Mob : 9334615061 / 7044421786</h3>

                        <h3 style="color:blue">Email : muslimcouncilofbangla@gmail.com </h3>
                        <h3 style="color:blue">Email : abdullahqasmi72@gmail.com</h3>
                    </p>
                </div>
            </div>
        </div>
    </form>
</body>
</html>

