<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/img/Slide3.png"  alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>MAKE A DIFFERENCE</h1>
                    @*<p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>*@
                    <p>Your donations can help protect a child and bring back their lost smiles. Every child deserves a delightful childhood. Donate today!</p>
                    <p><a class="btn btn-lg btn-primary" href="~/Home/Donet" role="button">DONATE</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/img/EPhoto1.png" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>CONTECT US</h1>
                    <p>No matter where you are, we will find and connect you to supporters who can provide you with your essential needs.</p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Contect</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/img/Slide.png" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1>VOLUNTEER</h1>
                    <p>Technology is the key factor in uniting the world together. </p>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Join Us</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/img/fundCount.png" alt="Generic placeholder image" height="300" width="300">
            <h2 style="color:darkmagenta">Fundraising</h2>
            <p style="color:blueviolet">Our funding sources to help them amplify their impact towards
 society’s development . Being a highly efficient engine,
we always focuses on supporting and ensuring the
 sustainability of the key actors in the development sector ...</p>
            <p><a class="btn btn-default" href="~/Home/Donet" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/img/Events.png" alt="Generic placeholder image"height="300"width="300">
            <h2 style="color:darkmagenta">Our Events</h2>
            <p style="color:blueviolet" >we use your information to manage the event(s) we either host for you or otherwise provide facilities, as well as maintain our records of previous, current and future clients for events business for the Organisation.</p>
            <p><a class="btn btn-default" href="~/Home/Documents" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/img/voulen-1.png" alt="Generic placeholder image"height="300"width="300">
            <h2 style="color:darkmagenta">Volunteer</h2>
            <p style="color:blueviolet">The best way to find yourself is to lose yourself in the service of others.
With busy lives, it can be hard to find time to volunteer. However, the benefits of volunteering can be enormous.</pstyle="color:blueviolet">
            <p><a class="btn btn-default" href="~/Home/Volunteir" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading" style="color:darkmagenta">Help The Orphan Children</h2>
            <p class="lead">If your heart breaks for orphaned, abandoned, or abused children, you might be wondering, “What can I do to help orphans?”</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/img/orphan500X500.png" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading" style="color:darkmagenta">Medicine for Poor children</span></h2>
            <p class="lead">Children in working poor families experience far more barriers to care than other children. Health insurance expansions through the Children's Health Insurance Program and Medicaid, which reduce financial and nonfinancial barriers to care, may help correct these disparities</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/img/medicine 9X9.jpg" alt="Generic placeholder image">
        </div>
        
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading" style="color:darkmagenta">Orphan & Poor Girls Marriages</h2>
            <p class="lead">Due to unimaginable poverty, countless families are unable to get their young daughters and sisters married. Those underprivileged families are unable to pay huge sums of money as dowry to the bridegroom at the time of the marriage, which often pushes them under heavy debt and loans. In such circumstances the young girls end up getting into illicit activities to make a living. Our effort is to curb such activities by getting these girls get married by providing some basic amenities to start their livelihood.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/img/Marrage.png"  alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2020 Design By Md Akhtar , 7827487841. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
    </footer>

</div><!-- /.container -->