
@{
    ViewBag.Title = "Volunteir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="~/css/AboutStyle.css" rel="stylesheet" />
</head>
<body>
    <div class="about-section">
        <h1>MUSLIM COUNCIL OF BANGAL</h1>
        <p>
            Technology is the key factor in uniting the world together.
            Its high time we had a platform where we all could come together and help where its needed the most
        </p>
        <p></p>
    </div>
    <div>
        <p><h2 style="color:darkblue"> Page Will be Updated Soon</h2></p>
    </div>

</body>
</html>

